<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who I am?</h2>
                <hr class="light">
                <p class="text-faded">I'm a data scientist and Chemical engineer with experience in the research and development department
                     of the food, cosmetic and pharmaceutical industries. After my professional degree I have studied software development and Data Science.
                      I love maths, statistics, and data. I like to work solving complex problems and manage big amounts of information to
                       develop new, products, technologies, and services. I have to experience developing recommendation engines, recurrent neural networks
                        able to predict the behavior of the stock market, text analysts using NPL (Natural Language Processing), and image classification.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
