<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hello I'm Juan David Tuta Botero</h1>
            <hr>
            <p>I'm a data scientist and Chemical engineer with experience in the research and development department
                of the food, cosmetic and pharmaceutical industries. After my professional degree, I studied software development and Data Science.
                                 I love maths, statistics, and data. I like to work solving complex problems and manage large amounts of information to
                                  develop new, products, technologies, and services. I have experience developing recommendation engines, recurrent neural networks
                                   able to predict the behavior of the stock market, text analysts using NPL (Natural Language Processing), and image classification. </p>
            <a href="https://www.linkedin.com/in/tuta-engineer/" class="btn btn-primary btn-xl page-scroll">Look linkedin</a>
        </div>
    </div>
</header>
